<tr>
  <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>
          <h1
            style="
              color: #153643;
              font-family: Arial, sans-serif;
              font-size: 24px;
              margin: 0;
            "
          >
            Hello, {{name}}!
          </h1>
        </td>
      </tr>
      <tr>
        <td style="padding: 20px 0 30px 0">
          <p
            style="
              color: #153643;
              font-family: Arial, sans-serif;
              font-size: 16px;
              line-height: 20px;
              margin: 0;
            "
          >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates,
            ratione!
          </p>
        </td>
      </tr>
      {{#each news}}
      <tr>
        <td>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td>
                <img
                  src="{{this.image}}"
                  alt=""
                  width="260"
                  height="200"
                  style="display: block"
                />
              </td>
            </tr>
            <tr>
              <td style="padding: 25px 0 0 0">
                <h1
                  style="
                    color: #153643;
                    font-family: Arial, sans-serif;
                    font-size: 18px;
                    margin: 0;
                  "
                >
                  News Title
                </h1>
              </td>
            </tr>

            <tr>
              <td style="padding: 20px 0 0 0">
                <p
                  style="
                    color: #153643;
                    font-family: Arial, sans-serif;
                    font-size: 14px;
                    line-height: 20px;
                    margin: 0;
                  "
                >
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Voluptates, ratione!
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      {{/each}}
    </table>
  </td>
</tr>
