<tr>
  <td bgcolor="#ee4c50" style="padding: 30px 30px 30px 30px">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td
          style="
            color: #ffffff;
            font-family: Arial, sans-serif;
            font-size: 14px;
          "
          width="75%"
        >
          &reg; Someone, somewhere 2021<br />
          <a href="#" style="color: #ffffff"
            ><font color="#ffffff">Unsubscribe</font></a
          >
          to this newsletter instantly
        </td>
        <td align="right" width="25%">
          <table border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td
                style="
                  font-family: Arial, sans-serif;
                  font-size: 12px;
                  font-weight: bold;
                "
              >
                <a href="http://www.twitter.com/" style="color: #ffffff">
                  <img
                    src="https://www.vectorlogo.zone/logos/twitter/twitter-tile.svg"
                    alt="Twitter"
                    width="38"
                    height="38"
                    style="display: block"
                    border="0"
                  />
                </a>
              </td>
              <td style="font-size: 0; line-height: 0" width="20">&nbsp;</td>
              <td
                style="
                  font-family: Arial, sans-serif;
                  font-size: 12px;
                  font-weight: bold;
                "
              >
                <a href="http://www.twitter.com/" style="color: #ffffff">
                  <img
                    src="https://www.vectorlogo.zone/logos/facebook/facebook-tile.svg"
                    alt="Facebook"
                    width="38"
                    height="38"
                    style="display: block"
                    border="0"
                  />
                </a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
